@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&display=swap');

/*NavLink active class*/
.myclass ul li a.active{
   color: blue;
}

.menubar ul li a.active{
    color: blue;
}

html,body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

.col-lg-1{
    width: 5rem;
}

.myBackground{
    background: #EFEBE9;
    box-shadow: 0px 0px 10px grey;
    margin-top:0.2rem;
}

.myclass ul {

 list-style: none;
}


.col-lg-4 a{
    text-decoration: none;
}

.myclass ul button{
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 50px;
}

.myclass ul li a{
    text-decoration: none;
    color: black;
}

.menuIcon{
    font-size: 3rem;
    margin-top: 0.6rem;
    display: none;
}

.cartIcon{
    font-size: 2.5rem;
    margin-top: 0.4rem;
}

span{
   color: red;
   font-weight: bold;
}

.menubar{
    width: 30%;
    height: 100vh;
    background-color:#EFEBE9;
    position: absolute;
    top: 0.5%;
    left: 70%; 
   transform: translateX(100%);
    opacity: 0;
    visibility: hidden; 
    transition: all 0.5s ease;
}

.menubar ul{
    list-style: none;
}

.menubar ul a{
   text-decoration: none;
   color: black;
}

.cutIcon{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
}

.cutIcon:hover{
    color: red;
}




@media (max-width:992px) 
{
    .myclass ul li a{
        text-decoration: none;
        color: black;
        display: none;
    } 


    .menuIcon{
   
        display: block;
    }

    .cutIcon{
        font-size: 2rem;
    }

}

@media (max-width:715px) {
    .menubar{
        width: 40%;
        height: 100vh;
        background-color:#EFEBE9;
        position: absolute;
        top: 0.5%;
        left: 60%; 
    }
}

.active-menubar{
    width: 30%;
    height: 100vh;
    background-color:#EFEBE9;
    position: absolute;
    top: 0.5%;
    left: 70%; 
    transform: translateX(0);
    opacity: 1;
    visibility: visible; 
}




