.IphoneLogo{
    border-radius: 1px;
    width: 100%;
   
}

.product{
    box-shadow: 0px 0px 5px grey;
    position: relative;
}

.product  button{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 2.2rem;
    margin-right: 2rem;
}



.zoom:hover{
    transform: scale(1.1);
}
